{{!-- <div class="post-index">
  <div class="jumbotron jumbotron-fluid">
    <h2 class="text-center">{{#link-to 'post' post}}{{post.title}}{{/link-to}}</h2>
  <div class='row'>
    <div class='col-md-3'>
      {{user.post.id}}
      {{#if post.editable}}
        <button class="btn btn-danger" {{action 'deletePost'}}>Delete</button>
          {{#link-to 'post.edit' post}}<button class="btn btn-primary">Update</button>{{/link-to}}
          {{/if}}
        </div>
      </div>
    </div>
  </div> --}}

  <div class="post-index">
    <div class="jumbotron jumbotron-fluid">

          <div>{{#link-to 'post' post}}{{post.title}}{{/link-to}}</div>
          {{user.post.id}}
          {{#if post.editable}}
            <div><button class="btn btn-danger btn-sm" {{action 'deletePost'}}>Delete</button></div>
            {{#link-to 'post.edit' post}}
            <div><button class="btn btn-primary btn-sm">Update</button></div>
            {{/link-to}}
          {{/if}}
  </div>
</div>
{{outlet}}
